@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*my style starts*/
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #0da6ab;
}
p, li, ul, label, input, .button {
  font-family: 'Raleway', sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.button {
	-moz-box-shadow: 2px 2px 2px -1px #86ccc9;
	-webkit-box-shadow: 2px 2px 2px -1px #86ccc9;
	box-shadow: 2px 2px 2px -1px #86ccc9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66ded4), color-stop(1, #0da6ab));
	background:-moz-linear-gradient(top, #66ded4 5%, #0da6ab 100%);
	background:-webkit-linear-gradient(top, #66ded4 5%, #0da6ab 100%);
	background:-o-linear-gradient(top, #66ded4 5%, #0da6ab 100%);
	background:-ms-linear-gradient(top, #66ded4 5%, #0da6ab 100%);
	background:linear-gradient(to bottom, #66ded4 5%, #0da6ab 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ded4', endColorstr='#0da6ab',GradientType=0);
	background-color:#66ded4;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #22696e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:-1px -1px 2px #79a7b8;
  width: 25%;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0da6ab), color-stop(1, #66ded4));
	background:-moz-linear-gradient(top, #0da6ab 5%, #66ded4 100%);
	background:-webkit-linear-gradient(top, #0da6ab 5%, #66ded4 100%);
	background:-o-linear-gradient(top, #0da6ab 5%, #66ded4 100%);
	background:-ms-linear-gradient(top, #0da6ab 5%, #66ded4 100%);
	background:linear-gradient(to bottom, #0da6ab 5%, #66ded4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0da6ab', endColorstr='#66ded4',GradientType=0);
	background-color:#0da6ab;
}
.button:active {
	position:relative;
	top:1px;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
}

#nav>ul.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#nav li {
  display: inline;
  list-style-type: none;
  text-align: center;

}
#content {
  width: 75%;
  float: left;
}
#sidebar {
  width: 25%;
  float: left;
}

#contact-form {
  background-color: sandybrown;
  padding: 25px 40px;
  text-align: center;
}

#contact-form form input,
#contact-form form textarea{
  padding: 10px;
  border-radius: 15px;
  margin-top: 7px;
}

#greeting {
	background-color: #F5FFFA;
}

#userButton {
	background-color: blue;
	color: white;
	height: 100px;
	width: 100px;
}

.highlighted {
	background-color: #32CD32;
	font-weight: bold;
	color: white;
}

.hidden {
	display: none;
}
.shown {
	display: block;
}
